<style>
    body {
        background: #c7b39b url(http://oy07.narod.ru/img/f6.jpg); /* Цвет фона и путь к файлу */
        background-size: 100%;
        color: #fff; /* Цвет текста */
    }
</style>
<!doctype html>
                    <a href="/" class="btn btn-danger">Вернуться на главную</a>
                    <html lang="en">
                      <head>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link rel="stylesheet"
                        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                        crossorigin="anonymous">
                        <title>Ваша статистика</title>
                      </head>
                      <body>

                        <h1>Ваша статистика</h1>
                        <h2>Ваш ник: {{current_user.name}}</h2>
                        <h2>Количество SchoolCoins: {{current_user.schoolcoins}}</h2>
                        <h2>Количество решенных задач: {{current_user.numberoftasks}}</h2>
                        <h2>Количество олимпиад: {{current_user.olimps}}</h2>
                        <h2>Средний бал: {{current_user.averagemark}}</h2>
                      </body>
                    </html>