{% extends "base.html" %}

{% block content %}
<a href="/" class="btn btn-danger">Вернуться на главную</a>
<h1>Отправление ответа</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.answer.label }}<br>
        {{ form.answer(class="form-control") }}<br>
        {% for error in form.answer.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}